[Desktop Entry]
Encoding=UTF-8
Name=Link to Contact
Type=Link
URL=http://dbwebb/dbwebb-kurser/design/me/anax-flat/htdocs/index.php/contact
Icon=text-html
