/** 
* Anax Flat theme.
*/
@import url(modules.less);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

@navColor: #1e5799;

body {
  .column(12);
  overflow-y: scroll;
}

.navbar {
  .column(12);
  background-color: @navColor;
  ul {
    .column(12);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
    .column(0.99);
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}

h1 {
  .column(12);
}

#dice {
  text-align: center;
}

#currentPlayer {
  .push(3);
  .column(9);
  text-align: center;
}

.info {
  .column(6);
  text-align: center;
}

#winner {
  text-align: center;
}

.wutToDo {
  .column(6);
  text-align: center;
}

.buttons {
  text-align: center;
}

.form {
  .column(12);
}

.text_content {
  .column(6);
}

.image {
  .column(6);
}

footer {
  .column(12);
  p {
    text-align: center;
  }
}

pre {
  .column(12);
}

.Error {
  .column(12);
}

.report {
  .column(12);
}

.sessionDiv {
  .column(12);
  text-align: center;
  .ul {
    .column(12);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
    .column(2.6);
    margin: 0 !important;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #destroy {
    background-color: red;
  }
  #increment {
    background-color: green;
  }
  #decrement {
    background-color: orange;
  }
  #dump {
    background-color: purple;
  }
  #status {
    background-color: blue;
  }
}

/*.selected {
  background-color: lightseagreen;
}*/

@media screen and (max-width: 1050px) {
  .text_content {
    .column(12);
  }

  .image {
    .column(12);
  }
}

.login {
  form {
    width: 400px;
    margin: 80px auto 0 auto;
  }
  #loginSubmit {
    text-align: center;
  }
  #login {
    width: 100px;
    margin: 10px auto 10px auto;
    background-color: red;
    padding: 10px;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
  .infoLogin {
    width: 200px;
    margin: 10px auto 10px auto;
    text-align: center;
  }

  #loginWrongDetails {
    background-color: orange;
  }

  #noUser {
    background-color: red;
  }
}

#adminTools {
  .column(12);
  margin: 80px auto 0 auto;
  text-align: center;
  ul {
    .column(12);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }
  li {
    float: left;
    .column(3);
    height: 100px !important;
    margin: 0 0 0 0 !important;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #welcome {
    background-color: red;
  }
  #search {
    background-color: blue;
  }
  #adminCreate {
    background-color: green;
  }
  #adminEdit {
    background-color: yellow;
  }
  #adminDelete {
    background-color: orange;
  }
  #showAll {
    background-color: deeppink;
  }
  #adminPass {
    background-color: lightseagreen;
  }
  #adminCreatePost {
    background-color: #40a070;
  }
  #adminPosts {
    background-color: #ff6eb1;
  }

}

.create {
  form {
    width: 400px;
    margin: 80px auto 0 auto;
  }
  #create {
    width: 100px;
    margin: 10px auto 10px auto;
    background-color: lightseagreen;
    padding: 10px;
    text-align: center;
    a {
      text-decoration: none;
    }
  }

  .infoCreate {
    width: 200px;
    margin: 10px auto 10px auto;
    text-align: center;
  }

  #passwordAlreadyExists {
    background-color: red;
  }
  #passwordSuccess {
    background-color: green;
  }

  #passwordNotMatching {
    background-color: orange;
  }
}

.adminCreate {
  form {
    width: 400px;
    margin: 80px auto 0 auto;
  }
  #rtat {
    width: 100px;
    margin: 10px auto 10px auto;
    background-color: lightseagreen;
    padding: 10px;
    text-align: center;
    a {
      text-decoration: none;
    }
  }

  .infoCreate {
    width: 200px;
    margin: 10px auto 10px auto;
    text-align: center;
  }

  #passwordAlreadyExists {
    background-color: red;
  }
  #passwordSuccess {
    background-color: green;
  }

  #passwordNotMatching {
    background-color: orange;
  }
}

.showAll {
  #showAll {
    width: 600px;
    margin: auto;
  }
}

.adminPassword {
  #cpwdh1 {
    width: 30% !important;
    margin: 80px auto 20px auto !important;
    display: block;
    float: none;
    text-align: center;
  }
  .dropdownList {
    width: 400px;
    margin: 80px auto 0 auto;
    text-align: center;
  }
  form {
    width: 400px;
    margin: auto;
    text-align: center;
  }
}

.adminEdit {
  .dropdownList {
    width: 400px;
    margin: 80px auto 0 auto;
    text-align: center;
  }

  #editForm {
    width: 400px;
    margin: 80px auto 0 auto;
    text-align: center;
  }

  #ae {
    width: 200px;
    margin: 10px auto 10px auto;
    text-align: center;
  }
}

.search {
  form {
    width: 400px;
    margin: 80px auto 0 auto;
  }

  #searchResult {
    width: 400px;
    margin: 80px auto 0 auto;
  }
}

.updateProfile {
  form {
    width: 400px;
    margin: 80px auto 0 auto;
  }

  #reload {
    width: 100px;
    margin: 10px auto 10px auto;
    background-color: green;
    padding: 10px;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}

.bwelcome {
  width: 100px;
  margin: 10px auto 10px auto;
  background-color: lightseagreen;
  padding: 10px;
  text-align: center;
  a {
    text-decoration: none;
  }
}

.changepwd {
  form {
    width: 400px;
    margin: 80px auto 0 auto;
  }

  #cpwd {
    width: 100px;
    margin: 10px auto 10px auto;
    background-color: lightseagreen;
    padding: 10px;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}

.welcome {
  #profileWrapper {
    width: 80%;
    overflow: hidden;
    margin: auto;
  }

  #profileInfo {
    width: 60%;
    float: left;
    #tableWelcome {
      width: 50%;
      margin: auto;
      td {
        font-size: 25px;
        padding-bottom: 12px;
        text-align: center;
      }
    }
    #lliWelcome {
      width: 30% !important;
      margin: 30px auto 10px auto !important;
      display: block;
      float: none;
      text-align: center;
    }
  }
  #links {
    width: 40%;
    float: left;
  }
  #h1Welcome {
    width: 30% !important;
    margin: 80px auto 20px auto !important;
    display: block;
    float: none;
    text-align: center;
  }

  #h3Welcome {
    width: 30% !important;
    margin: 60px auto 0 auto !important;
    display: block;
    float: none;
    text-align: center;
  }
  /*



  #tableWelcome {
    width: 30% !important;
    margin: 20px auto 20px auto !important;
    float: none;
    text-align: center;
    td {
      font-size:25px;
      padding-bottom: 12px;
    }
  }*/

}

.content {
  h1 {
    border-bottom: 1px double #ccc;
  }

  main {
    min-height: 10em;
  }

  table {
    border: 1px solid #ccc;
    padding: 0.5em;
  }

  tr.first {
    background-color: #ddd;
  }

  tr:hover {
    background-color: #eee;
  }

  th {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }

  th, td {
    padding: 4px;
  }

  img.thumb {
    max-width: 100px;
    max-height: 100px;
  }
  footer {
    border-top: 1px solid #ccc;
  }

  footer a {
    text-decoration: none;
  }

  a.icons {
    color: inherit;
  }

  a:hover.icons {
    opacity: 0.7;
  }

  input[type=text],
  input[type=datetime],
  textarea {
    width: 400px;
  }

  textarea {
    height: 300px;
  }

  label {
    font-size: small;
  }

  input,
  textarea,
  legend,
  button {
    font-size: large;
  }

  article {
    margin-bottom: 24px;
  }

}

.createPost {
  form {
    width: 400px;
    margin: 80px auto 0 auto;
  }
}

.editPost {
  form {
    width: 400px;
    margin: 80px auto 0 auto;
  }
  textarea {
    height: 400px;
    width: 400px;
  }
}

.posts, .pages, .shopShow {
  h1 {
    border-bottom: 1px double #ccc;
  }

  main {
    min-height: 10em;
  }

  table {
    border: 1px solid #ccc;
    padding: 0.5em;
  }

  tr.first {
    background-color: #ddd;
  }

  tr:hover {
    background-color: #eee;
  }

  th {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }

  th, td {
    padding: 4px;
  }

  img.thumb {
    max-width: 100px;
    max-height: 100px;
  }
  footer {
    border-top: 1px solid #ccc;
  }

  footer a {
    text-decoration: none;
  }

  a.icons {
    color: inherit;
  }

  a:hover.icons {
    opacity: 0.7;
  }

  input[type=text],
  input[type=datetime],
  textarea {
    width: 400px;
  }

  textarea {
    height: 300px;
  }

  label {
    font-size: small;
  }

  input,
  textarea,
  legend,
  button {
    font-size: large;
  }

  article {
    margin-bottom: 24px;
  }

  table {
    .column(12);
  }

}

.deletePost {
  form {
    width: 400px;
    margin: 80px auto 0 auto;
  }
}

.content .contentDiv {
  .column(12);/**/
  a {
    display: inherit;
  }
}

.page article, .blog article {
  width: 60%;
  margin: auto;
}

.blogs section {
  width: 80%;
  margin: auto;
  max-height: 200px;
  overflow: hidden;
}

.shopShow div {
  .column(12);
}

.shopUpdate form {
  .column(12);
}

.shopCreate form {
  .column(12);
}